<?xml version="1.0"?>
<!--
/**
 * @category    Kirchbergerknorr
 * @package     Kirchbergerknorr_CategoryImageUploader
 * @see         http://stackoverflow.com/questions/9700611/exception-raised-in-varien-file-uploader-when-using-xmlrpc-to-modify-categories
 * @author      Aleksey Razbakov <ar@kirchbergerknorr.de>
 * @copyright   Copyright (c) 2014 kirchbergerknorr GmbH (http://www.kirchbergerknorr.de)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Kirchbergerknorr_CategoryImageUploader>
            <version>0.1.1</version>
        </Kirchbergerknorr_CategoryImageUploader>
    </modules>
    <global>
        <models>
            <categoryimageuploader>
                <class>Kirchbergerknorr_CategoryImageUploader_Model</class>
            </categoryimageuploader>
            <catalog>
                <rewrite>
                    <category_attribute_backend_image>Kirchbergerknorr_CategoryImageUploader_Model_Category_Attribute_Backend_Image</category_attribute_backend_image>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>